<section>
    <a href="/goal/{{id}}"></a>
    <header>{{goal.title}}</header>
    <div>
        <p>Start Date:{{goal.start_date}}</p>
        <p>End Date:{{goal.end_date}}</p>
        <p>Topic:{{goal.topic}}</p>
        <p>Description: {{goal.body}}</p>
        <button>Delete This Goal</button>
    </div>
</section>