<div class="container is-fullhd pt-4 ">
    <div>
        <h1 class="has-text-centered is-size-2">Goals</h1>
    </div>
</div>
<section class="container is-fluid pt-4">
    <div class="notification is-info">
        <h2 class="has-text-centered is-size-3">My Goals</h2>
        <p class="has-text-centered is-size-5 pt-5" >Your goals will show up here</p>
        <button class="button is-fullwidth button is-success is-light button is-rounded is-size-5" id="create-button">Create New Goal</button>
    </div>
</section>
    <div class="modal" id="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Create New Goal</p>
            </header>
            <section class="modal-card-body">
                <div class="field">
                    <label class="label">Title:</label>
                    <div class="control">
                        <input id="title-id" class="input" type="text" placeholder="Type here">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Start Date:</label>
                    <div class="control">
                        <input type="date" id="start-date-id">
                    </div>
                </div>
                <div class="field">
                    <label class="label">End Date:</label>
                    <div class="control">
                        <input type="date" id="end-date-id">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Topic:</label>
                    <div class="control">
                        <div class="select">
                            <select id="topic">
                                <option>Please select</option>
                                <option>Fitness</option>
                                <option>Nutrition</option>
                                <option>Self-Care</option>
                                <option>Social</option>
                                <option>Knowledge</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Description:</label>
                    <div class="control">
                        <input class="input" id="description-id" type="Type here" placeholder="">
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-success" id="save-goal">Save Goal</button>
                <button class="button is-danger" id="cancel-button">Cancel</button>
            </footer>
        </div>
    </div>

    <div class="container">
    {{#each goals as |goal|}}
    <section  style="margin-top: 20px" class="card is-one-third">
    <header class="card-header has-background-info"><p class="card-header-title has-text-white">{{title}}</p></header>
    <div class="card-content has-background-info-light">
        <div class="content">
        <p>Start Date: {{start_date}}</p>
        <p>End Date: {{end_date}}</p>
        <p>Topic: {{topic}}</p>
        <p>Description: {{body}}</p>
        </div>
        <footer class="card-footer">
            <div class="columns">
                <div class="column is-one-third">
                    <button id="delete-button" data-id="{{id}}" style="width: 200px" class="card-footer-item button is-info">Delete This Goal</button>
                </div>
            </div>
        </footer>
        
    </div>
</section>
    {{/each}}
    </div>
<script src="js/newGoal.js"></script>